/* only admin panel style */

.size {
  width: 100%;
  object-fit: cover;
}

.size-head { height: 100px; }
.size-content { height: 400px; }
.img-content {
  object-position: 0 -950px;
}
/* .menu {} */
.custom-silver { background-color: rgb(224, 224, 224) }

/* .custom-height { height: 800px;} */
.custom-footer {
  background-color: #1e1e24;
}
.cs-grey {
  color: #615c63;
}