/* custom styles here */
.box-logo-image {
  height: 350px;
  background-image: url("/images/igu.jpg");
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.info-box-height {
  height: 200px;
}

.custom-text-nav > a {
  color: var(--bs-success);
}
.custom-text-nav > a:hover {
  color: var(--bs-warning); 
}

